<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wentura.getflow">

    <application>
        <activity
            android:name="org.wentura.getflow.statistics.StatisticsActivity"
            android:exported="true" />

        <activity
            android:name="org.wentura.getflow.settings.SettingsActivity"
            android:exported="true" />

        <activity
            android:name="org.wentura.getflow.applicationlock.ApplicationLockActivity"
            android:exported="true" />
    </application>

</manifest>
